.Formcontainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 16px;
    
    width: 501px;
    height: 92px;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;
}

.Textfield{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 16px;
    gap: 12px;
    isolation: isolate;
    
    width: 501px;
    height: 65px;
    
    background: #E7E7E7;
    border-radius: 4px;
    
    /* Inside auto layout */
    
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.Tag{
    position: absolute;
    width: 121px;
    height: 16px;
    left: 62px;
    top: 0px;
    
    background: #F77171;
    border-radius: 0px 0px 4px 4px;
    
    /* Inside auto layout */
    
    flex: none;
    order: 2;
    flex-grow: 0;
    z-index: 2;
}

.radiobutton{
    width: 32px;
    height: 32px;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 0;
    flex-grow: 0;
    z-index: 0;
}
.Textcontainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    
    width: 425px;
    height: 33px;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 1;
    flex-grow: 1;
    z-index: 1;
}

.Righttext{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 0px;
    
    width: 71px;
    height: 33px;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 1;
    flex-grow: 0;
}
.Toptext{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding: 0px;
    gap: 8px;
    
    width: 85px;
    height: 19px;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 0;
    flex-grow: 0;
}
.Bottomtext{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    padding: 0px;
    gap: 8px;
    
    width: 47px;
    height: 14px;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 1;
    flex-grow: 0;
}
