.NavBar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding: 24px 80px; */
    gap: 10px;
    
    width: 1920px;
    height: 72px;
    
    background: #FFFFFF;
    
    flex: none;
    order: 0;
    flex-grow: 0;
}

.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 851px;
    
    width: 1707px;
    height: 45px;
    
    flex: none;
    order: 0;
    flex-grow: 0;
}

.left_content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 64px;

    width: 492px;
    height: 45px;


    flex: none;
    order: 0;
    flex-grow: 0;
}

.right_content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 64px;

    width: 364px;
    height: 40px;
    
    flex: none;
    order: 1;
    flex-grow: 0;
}

.logo{
    position: relative;
    width: 170px;
    height: 45px;
    left: 0px;
    top: 0px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: bolder;
    font-size: 38px;
    line-height: 45px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.03em;

    background: linear-gradient(90.72deg, #0096FF 42.18%, #0048FF 93.77%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;

}

.courses{
    width: 61px;
    height: 19px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */

    text-align: center;

    color: #000000;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.programs{
    width: 73px;
height: 19px;

font-family: 'Raleway';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
/* identical to box height */

text-align: center;

color: #000000;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;

}

.fa_search{
    position: absolute;
    left: 12.5%;
    right: 12.5%;
    top: 12.5%;
    bottom: 12.5%;
    
    background: #000000;
}

.search_icon{
    width: 24px;
    height: 24px;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.login{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    
    width: 46px;
    height: 19px;
    
}

.primary_btn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 42px;
    gap: 10px;
    
    width: 166px;
    height: 40px;
    
    background: linear-gradient(266.79deg, #0048FF 4.63%, #0096FF 100%);
    border-radius: 52px;
    
    /* Inside auto layout */
    
    flex: none;
    order: 2;
    flex-grow: 0;
}